#belt-grid {
  margin-top: 30px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
}

#belt-grid .ruler-horizontal {
  position: fixed;
  top: 0;
}

#belt-grid .grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background: #FFFFFF;
  font-size: 1.2rem;
}

#belt-grid .grid-stack-item-content .controls {
  position: absolute;
  text-align: left;
  top: 3px;
  left: 5px;
  float: right;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: black;
}

#belt-grid .grid-stack-item-content .btn {
  text-align: center;
  font-size: 1.2rem;
}

#belt-cut-settings {
  z-index: 2;
}

  #belt-cut-settings .info {
      margin-bottom: 15px;
  }

#belt-grid .grid-stack-item-content.new {
  background: #FFFF99;
}
#belt-grid .grid-stack-item-content.current {
  background: #FFFF99;
}
#belt-grid .grid-stack-item-content.not-cut {
  background: #99CCFF;
}
#belt-grid .grid-stack-item-content.cut {
  background: #CCCCCC;
}
#belt-grid .grid-stack-item-content.deleted {
  background: #999999;
}
#belt-grid .grid-stack-item-content.another-lot {
  background: #FF83FA;
}
#belt-grid .grid-stack-item-content.offcut {
  background: #FF69B4;
}
#belt-grid .grid-stack-item-content.other {
  background: #FFFFFF;
}

#belt-grid .tooltip {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  opacity: 0.8;
  font-size: 1em;
  z-index: 4;
}

#belt-grid .grid-stack-item-content p {
  font-weight: bold;
  line-height: 1.1em;
  margin: 5px;
}

#belt-grid .grid-stack-item-content p.dimensions {
  margin: 15px 0;
}

#belt-grid .grid-stack > .grid-stack-item {
  min-width: 0 !important;
}

#belt-grid .grid-stack > .grid-stack-item > div > .grid-stack-item-content {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  width: auto;
  z-index: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  border-style: solid;
  border-width: 2px;
  /*border-color: coral;*/
}

#belt-grid .ruler-horizontal {
  position: relative;
  display: flex;
  top: -17px;
  left: -8px;
  width: calc(100% - 6px);
  justify-content: space-between;
}

  #belt-grid .ruler-horizontal .in:after {
      position: absolute;
      bottom: -15px;
      font: 12px sans-serif;
      content: attr(data-text);
  }

#belt-grid .ruler-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -10px;
  left: -35px;
}

  #belt-grid .ruler-vertical .in:after {
      font: 11px/1 sans-serif;
      content: attr(data-text);
  }

#belt-grid .btn-save {
  float: right;
}