<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gridstack-angular demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/gridstack/dist/gridstack.css"/>
    <link rel="stylesheet" href="gridstack-extra.css"/>


    <style type="text/css">
        #belt-grid {
            margin-top: 30px;
            background-image: linear-gradient(to right, grey 1px, transparent 1px),
                linear-gradient(to bottom, grey 1px, transparent 1px);
        }
        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background: #33c6ff;
        }

        .grid-stack-item-content p {
            font-weight: bold;
            line-height: 1.1em;
            margin: 5px;
        }

        .grid-stack-item-content p.dimensions {
            margin: 15px 0;
        }

    </style>
</head>
<body ng-app="GridStack" ng-controller="DemoCtrl" ng-init="init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <p>Scale</p>
                <p>1' x 1.00"</p>
                <hr />
                <button type="button" class="btn btn-primary" ng-click="addNewCut()">Add Cut</button>
                <button type="button" class="btn" ng-click="changeZoom(1)"> Zoom In </button>
                <button type="button" class="btn" ng-click="changeZoom(-1)"> Zoom Out </button>
                <button type="button" class="btn"> Print </button>
            </div>
    
            <div class="col-md-11">
                <div id="info-general">
                    <p>SIZE: {{BeltLength}}' X {{BeltWidth | number : 4}}" ITEM: {{ItemID}} BELT LOT: {{Lot}} CUST: {{CustomerName}}</p>
                    <p>REQUIRED: 2 CUTS - 80'6.0000" X 36.0000 ****1 OF 2 ADDED ****</p>
                </div>
                <div id="belt-grid">
                    <div class='ruler-horizontal'></div>
                    <div gridstack class="grid-stack" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
                        <div class='ruler-vertical'></div>
                        <div gridstack-item ng-repeat="w in widgets" ng-switch="w.Status" class="grid-stack-item" gs-item-x="w.X" gs-item-y="w.Y"
                            gs-item-width="w.Width" gs-item-height="w.Length" gs-item-autopos="0" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                                <div ng-switch-when="0">
                                    <div class="grid-stack-item-content current">
                                        <p class="dimensions">{{w.Width | number : 4}} x {{w.Length | number : 4}}</p>
                                        <div ng-repeat="info in w.DisplayInfo">
                                            <p>{{info.Label}}: {{info.Value}}</p>
                                        </div>
                                        
                                        <a class="btn btn-primary offcutX" ng-click="offcutX(w)" >offcut x</a>
                                        <a class="btn btn-primary offcutY" ng-click="offcutY(w)" >offcut y</a>
                                        <a class="btn btn-primary" ng-click="removeWidget(w)" >remove</a>
                                    </div>
                                </div>
                                <div ng-switch-when="1">
                                    <div class="grid-stack-item-content cut">
                                        <p class="dimensions">{{w.Width | number : 4}} x {{w.Length | number : 4}}</p>
                                        <div ng-repeat="info in w.DisplayInfo">
                                            <p>{{info.Label}}: {{info.Value}}</p>
                                        </div>
                                        
                                        <a class="btn btn-primary offcutX" ng-click="offcutX(w)" >offcut x</a>
                                        <a class="btn btn-primary offcutY" ng-click="offcutY(w)" >offcut y</a>
                                        <a class="btn btn-primary" ng-click="removeWidget(w)" >remove</a>
                                    </div>
                                </div>
                                <div ng-switch-when="2">
                                    <div class="grid-stack-item-content not-cut">
                                        <p class="dimensions">{{w.Width | number : 4}} x {{w.Length | number : 4}}</p>
                                        <div ng-repeat="info in w.DisplayInfo">
                                            <p>{{info.Label}}: {{info.Value}}</p>
                                        </div>
                                        
                                        <a class="btn btn-primary offcutX" ng-click="offcutX(w)" >offcut x</a>
                                        <a class="btn btn-primary offcutY" ng-click="offcutY(w)" >offcut y</a>
                                        <a class="btn btn-primary" ng-click="removeWidget(w)" >remove</a>
                                    </div>
                                </div>
                                <div ng-switch-when="3">
                                    <div class="grid-stack-item-content another-lot">
                                        <p class="dimensions">{{w.Width | number : 4}} x {{w.Length | number : 4}}</p>
                                        <div ng-repeat="info in w.DisplayInfo">
                                            <p>{{info.Label}}: {{info.Value}}</p>
                                        </div>
                                        
                                        <a class="btn btn-primary offcutX" ng-click="offcutX(w)" >offcut x</a>
                                        <a class="btn btn-primary offcutY" ng-click="offcutY(w)" >offcut y</a>
                                        <a class="btn btn-primary" ng-click="removeWidget(w)" >remove</a>
                                    </div>
                                </div>
                                <div ng-switch-when="4">
                                    <div class="grid-stack-item-content deleted">
                                        <p class="dimensions">{{w.Width | number : 4}} x {{w.Length | number : 4}}</p>
                                        <div ng-repeat="info in w.DisplayInfo">
                                            <p>{{info.Label}}: {{info.Value}}</p>
                                        </div>
                                        
                                        <a class="btn btn-primary offcutX" ng-click="offcutX(w)" >offcut x</a>
                                        <a class="btn btn-primary offcutY" ng-click="offcutY(w)" >offcut y</a>
                                        <a class="btn btn-primary" ng-click="removeWidget(w)" >remove</a>
                                    </div>
                                </div>
                                <div ng-switch-when="5">
                                    <div class="grid-stack-item-content offcut">
                                        <p class="dimensions">{{w.Width | number : 4}} x {{w.Length | number : 4}}</p>
                                        <div ng-repeat="info in w.DisplayInfo">
                                            <p>{{info.Label}}: {{info.Value}}</p>
                                        </div>
                                        
                                        <a class="btn btn-primary offcutX" ng-click="offcutX(w)" >offcut x</a>
                                        <a class="btn btn-primary offcutY" ng-click="offcutY(w)" >offcut y</a>
                                        <a class="btn btn-primary" ng-click="removeWidget(w)" >remove</a>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <div class="grid-stack-item-content other">
                                        <p class="dimensions">{{w.Width | number : 4}} x {{w.Length | number : 4}}</p>
                                        <div ng-repeat="info in w.DisplayInfo">
                                            <p>{{info.Label}}: {{info.Value}}</p>
                                        </div>
                                        
                                        <a class="btn btn-primary offcutX" ng-click="offcutX(w)" >offcut x</a>
                                        <a class="btn btn-primary offcutY" ng-click="offcutY(w)" >offcut y</a>
                                        <a class="btn btn-primary" ng-click="removeWidget(w)" >remove</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/gridstack/dist/gridstack.js"></script>
    <script src="../src/gridstack.controller.js"></script>
    <script src="../src/gridstack.directive.js"></script>
    <script src="../src/gridstackitem.directive.js"></script>

    <script type="text/javascript">
        var app = angular.module('GridStack', ['gridstack-angular']).
          controller('DemoCtrl', function($scope, $log) {

            var jsonData = {
                "ItemID": "TVVBELT",
                "ItemDesc": "TVV Belt Item",
                "Lot": "TVVLOT3-4-5",
                "BeltLength": "120.0000",
                "BeltWidth": "84.0000",
                "LotCost": "0.455789358",
                "RemnantLength": "5.000000000",
                "RemnantWidth": "5.000000000",
                "CustomerID": "0",
                "CustomerName": "",
                "CurrentTransType": "4",
                "CutLength": "0",
                "CutWidth": "0",
                "ExistingCuts": [
                    {
                        "Id": "178",
                        "X": "0",
                        "Y": "10",
                        "Length": "100",
                        "Width": "10",
                        "Offcut": "",
                        "ParentId": "",
                        "Status": "3",
                        "RowStatus": "0",
                        "DisplayInfo": [
                            {
                                "Label": "Type",
                                "Value": "Inv Adjust"
                            },
                            {
                                "Label": "Adj #",
                                "Value": "104207"
                            },
                            {
                                "Label": "Adj Date",
                                "Value": "8/28/2017"
                            },
                            {
                                "Label": "Reason",
                                "Value": "NEW"
                            },
                            {
                                "Label": "Desc/New Lot",
                                "Value": "TVVLOT3-4-5"
                            }
                        ]
                    },
                    {
                        "Id": "180",
                        "X": "10",
                        "Y": "10",
                        "Length": "100",
                        "Width": "10",
                        "Offcut": "",
                        "ParentId": "",
                        "Status": "3",
                        "RowStatus": "0",
                        "DisplayInfo": [
                            {
                                "Label": "Type",
                                "Value": "Inv Adjust"
                            },
                            {
                                "Label": "Adj #",
                                "Value": "104209"
                            },
                            {
                                "Label": "Adj Date",
                                "Value": "8/28/2017"
                            },
                            {
                                "Label": "Reason",
                                "Value": "NEW"
                            },
                            {
                                "Label": "Desc/New Lot",
                                "Value": "TVVLOT3-4-5"
                            }
                        ]
                    },
                    {
                        "Id": "177",
                        "X": "0",
                        "Y": "0",
                        "Length": "10",
                        "Width": "10",
                        "Offcut": "",
                        "ParentId": "",
                        "Status": "1",
                        "RowStatus": "0",
                        "DisplayInfo": [
                            {
                                "Label": "Type",
                                "Value": "Prod Order"
                            },
                            {
                                "Label": "Prod Ord #",
                                "Value": "10001390"
                            },
                            {
                                "Label": "Order #",
                                "Value": "1927822"
                            },
                            {
                                "Label": "Order Date",
                                "Value": "8/28/2017"
                            },
                            {
                                "Label": "Cust ID",
                                "Value": "1006739"
                            },
                            {
                                "Label": "Cust",
                                "Value": "TVV Customer"
                            }
                        ]
                    },
                    {
                        "Id": "179",
                        "X": "10",
                        "Y": "0",
                        "Length": "10",
                        "Width": "10",
                        "Offcut": "",
                        "ParentId": "",
                        "Status": "1",
                        "RowStatus": "0",
                        "DisplayInfo": [
                            {
                                "Label": "Type",
                                "Value": "Prod Order"
                            },
                            {
                                "Label": "Prod Ord #",
                                "Value": "10001391"
                            },
                            {
                                "Label": "Order #",
                                "Value": "1927823"
                            },
                            {
                                "Label": "Order Date",
                                "Value": "8/28/2017"
                            },
                            {
                                "Label": "Cust ID",
                                "Value": "1006739"
                            },
                            {
                                "Label": "Cust",
                                "Value": "TVV Customer"
                            }
                        ]
                    },
                    {
                        "Id": "186",
                        "X": "20",
                        "Y": "20",
                        "Length": "15",
                        "Width": "20",
                        "Offcut": "",
                        "ParentId": "",
                        "Status": "2",
                        "RowStatus": "0",
                        "DisplayInfo": [
                            {
                                "Label": "Type",
                                "Value": "Prod Order"
                            },
                            {
                                "Label": "Prod Ord #",
                                "Value": "10001397"
                            },
                            {
                                "Label": "Order #",
                                "Value": "1928979"
                            },
                            {
                                "Label": "Order Date",
                                "Value": "6/29/2018"
                            },
                            {
                                "Label": "Cust ID",
                                "Value": "1006739"
                            },
                            {
                                "Label": "Cust",
                                "Value": "TVV Customer"
                            }
                        ]
                    },
                    {
                        "Id": "187",
                        "X": "20",
                        "Y": "35",
                        "Length": "75",
                        "Width": "20",
                        "Offcut": "Y",
                        "ParentId": "186",
                        "Status": "6",
                        "RowStatus": "0",
                        "DisplayInfo": [
                            {
                                "Label": "Type",
                                "Value": "Prod Order"
                            },
                            {
                                "Label": "Prod Ord #",
                                "Value": "10001397"
                            },
                            {
                                "Label": "Order #",
                                "Value": "1928979"
                            },
                            {
                                "Label": "Order Date",
                                "Value": "6/29/2018"
                            },
                            {
                                "Label": "Cust ID",
                                "Value": "1006739"
                            },
                            {
                                "Label": "Cust",
                                "Value": "TVV Customer"
                            }
                        ]
                    },
                    {
                        "Id": "185",
                        "X": "20",
                        "Y": "0",
                        "Length": "20",
                        "Width": "10",
                        "Offcut": "",
                        "ParentId": "",
                        "Status": "2",
                        "RowStatus": "0",
                        "DisplayInfo": [
                            {
                                "Label": "Type",
                                "Value": "Prod Order"
                            },
                            {
                                "Label": "Prod Ord #",
                                "Value": "10001396"
                            },
                            {
                                "Label": "Order #",
                                "Value": "1928931"
                            },
                            {
                                "Label": "Order Date",
                                "Value": "6/12/2018"
                            },
                            {
                                "Label": "Cust ID",
                                "Value": "1006739"
                            },
                            {
                                "Label": "Cust",
                                "Value": "TVV Customer"
                            }
                        ]
                    }
                ],
                "CurrentCuts": []
            };

            $scope.BeltLength = jsonData.BeltLength;
            $scope.BeltWidth = jsonData.BeltWidth;
            $scope.widgets = jsonData.ExistingCuts;
            $scope.zoom = 10;
            
            //[{ id: 1, x:0, y:0, width:15, height:10, status: 'Allocated', cust: 'Acme Mining Co', custId: 100031, date: '03/31/2019', order: 1000168, prod: 123456789 },
                            //{ id: 2, x:0, y:1, width:20, height:10, status: 'Allocated', cust: 'Acme Mining Co', custId: 100031, date: '03/31/2019', order: 1000168, prod: 123456789  }];

            $scope.options = {
                width: $scope.BeltWidth,
                cellHeight: 20,
                verticalMargin: 0
            };

            $scope.addWidget = function(width, length) {
                // TODO: ADD ID
                console.log(length);
                var newWidget = { X: 36, Y: 0, Width: width, Length: length, Offcut: '', ParentId: '', Status: 6, RowStatus: '', DisplayInfo: ''};
                //$('.grid-stack').locked(newWidget, true);
                $scope.widgets.push(newWidget);

                //add to currentCuts
            };

            $scope.removeWidget = function(w) {
                var index = $scope.widgets.indexOf(w);
                $scope.widgets.splice(index, 1);
            };

            $scope.onChange = function(event, items) {
                $log.log("onChange event: "+event+" items:"+items);

                //add to currentCuts
            };

            $scope.onDragStart = function(event, ui) {
                $log.log("onDragStart event: "+event+" ui:"+ui);
            };

            $scope.onDragStop = function(event, ui) {
                $log.log("onDragStop event: "+event+" ui:"+ui);
            };

            $scope.onResizeStart = function(event, ui) {
                $log.log("onResizeStart event: "+event+" ui:"+ui);
            };

            $scope.onResizeStop = function(event, ui) {
                $log.log("onResizeStop event: "+event+" ui:"+ui);

                //add to currentCuts
            };

            $scope.onItemAdded = function(item) {
                $log.log("onItemAdded item: "+item);

                // Figure out how to lock the created item
                $(".grid-stack").each(function (idx, gsEl) { 
                    $(gsEl).data("gridstack").locked(".grid-stack-item", true);
                });
            };

            $scope.onItemRemoved = function(item) {
                $log.log("onItemRemoved item: "+item);
            };

            $scope.offcutX = function (w) {
                var posX = w.X + w.Width;
                var offcutWidth = $scope.BeltWidth - w.Width;

                // TODO: ADD ID
                var newWidget = { X: posX, Y: w.Y, Width: offcutWidth, Length:w.Length, Offcut: 'Y', ParentId: w.Id, Status: 5, RowStatus: w.RowStatus, DisplayInfo: w.DisplayInfo};
                $scope.widgets.push(newWidget);
            }

            $scope.offcutY = function (w) {
                var posY = w.Y + w.Length;
                var offcutLength = $scope.BeltLength - w.Length;

                // TODO: ADD ID
                var newWidget = { X: w.X, Y:posY, Width: w.Width, Length: offcutLength, Offcut: 'Y', ParentId: w.Id, Status: 5, RowStatus: w.RowStatus, DisplayInfo: w.DisplayInfo};
                $scope.widgets.push(newWidget);
            }

            $scope.deserializeData = function () {

                // Belting grid data
                $scope.ItemID = jsonData.ItemID;
                $scope.ItemDesc = jsonData.ItemDesc;
                $scope.Lot = jsonData.Lot;
                $scope.LotCost = jsonData.LotCost;
                $scope.CustomerName = jsonData.CustomerName;

                // Items data
                $scope.ExistingCuts = jsonData.ExistingCuts;
            }

            $scope.createRulerDimensions = function () {

                var numItemsHorizontal = $scope.BeltWidth / 12;
                var numItemsVertical = $scope.BeltLength / 20;
                var scaleWidthToHeight = 1; // This will change depending on the backend values

                var rulerHorizontal = document.querySelector(".ruler-horizontal");
                var rulerVertical = document.querySelector(".ruler-vertical");

                rulerVertical.style.height = ($scope.BeltLength * 20) + 'px';

                for (var i = 0; i <= numItemsHorizontal; i++) {
                    let div = document.createElement('div');
                    div.className = 'in';
                    div.dataset.text = (i * 12) + '.0"';
                    rulerHorizontal.appendChild(div);
                }

                for (var i = 0; i <= numItemsVertical; i++) {
                    let div = document.createElement('div');
                    div.className = 'in';
                    div.dataset.text = (i * 20) + ".0'";
                    rulerVertical.appendChild(div);
                }
            }

            $scope.createGridStyles = function () {
                var grid = document.querySelector("#belt-grid");
                grid.style.height = ($scope.BeltLength * 20) + 'px';
                grid.style.backgroundSize = (100 / $scope.BeltWidth) + '% ' + "20px";
            }

            $scope.setZoom = function(zoom, el) {
                var transformOrigin = [0, 0];
                el = el || instance.getContainer();
                var p = ["webkit", "moz", "ms", "o"],
                    s = "scale(" + zoom + ")",
                    oString = (transformOrigin[0] * 100) + "% " + (transformOrigin[1] * 100) + "%";
            
                for (var i = 0; i < p.length; i++) {
                    el.style[p[i] + "Transform"] = s;
                    el.style[p[i] + "TransformOrigin"] = oString;
                }
            
                el.style["transform"] = s;
                el.style["transformOrigin"] = oString;
            }

            $scope.changeZoom = function(a) {
                var tooltips = document.querySelectorAll('.tooltiptext');
                var fontSize = 4.5;
                var width = 200;
                var height = 140;
            
                if (($scope.zoom != 7 && a != 1) || ($scope.zoom != 14 && a != -1)) {
                    $scope.zoom += a;
                    var zoomScale = Number($scope.zoom) / 10;
                    $scope.setZoom(zoomScale, document.getElementById('belt-grid'));
                    
                    // TODO: Update rulers length instead of zooming everything ( text gets too small)
                    // rulerHorizontal.style.width = `${widthHorizontalRuler * zoomScale}px`;
                    // rulerVertical.style.height = `${widthVerticalRuler * zoomScale}px`;
            
                    // TODO: Add tooltips functions when cuts get too small
                    // if (zoom < 10) {
                    //     tooltips.forEach(tooltip => {
                    //         tooltip.style.fontSize = `${fontSize / zoomScale}em`;
                    //         tooltip.style.width = `${width / zoomScale}px`;
                    //         tooltip.style.height = `${height / zoomScale}px`;
                    //     });
                    // }
                }
                //gridData["DemoGrid"].hideInfoCutIfOverflow();
            }

            // $scope.addNewCut = function () {
            //     epModalDialogService.showCustomDialog({
            //         templateOptions: {
            //             templateUrl: 'app/views/viewgrid/newcut.html'
            //         },
            //         title: 'Enter Cut Size',
            //         status: 'information',
            //         backdrop: true,
            //         buttons: [{
            //             text: 'Save',
            //             type: 'primary',
            //             action:function(){
            //                 var width = parseInt(document.querySelector(".width").value);
            //                 var length = parseInt(document.querySelector(".lenFT").value);
            //                 $scope.addWidget(width, length);
            //             }
            //         },{
            //             text: 'Close',
            //             action: function () {
            //                 $window.close();
            //             }
            //         }, {
            //             text: 'Cancel',
            //             isCancel: true
            //         }],
            //         closeButton: true
            //     });
            // }
            
            var init = function () {
                $scope.deserializeData();
                $scope.createRulerDimensions();
                $scope.createGridStyles();
            }

            init();
        });
    </script>

</body>
</html>