<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gridstack-angular demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/gridstack/dist/gridstack.css"/>
    <link rel="stylesheet" href="gridstack-extra.css"/>


    <style type="text/css">
        .grid1 {
            background: #c6ecf1;
            background-size: 1.19047619% 20px;
            background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
        }
        .grid-stack-item-content {
            color: #2c3e50;
            text-align: center;
            background: #33c6ff;
        }

        .grid-stack-item-content p {
            font-weight: bold;
            line-height: 1.1em;
            margin: 5px;
        }

        .grid-stack-item-content p.dimensions {
            margin: 15px 0;
        }

    </style>
</head>
<body ng-app="GridStack" ng-controller="DemoCtrl">
    <div class="container-fluid">
        <h1>gridstack-angular demo</h1>
        <p>{{widgets}}</p>
        <div>
            <a class="btn btn-primary" ng-click="addWidget()" href="#">Add Widget</a>
            <a class="btn btn-primary" ng-click="moveWidget()" href="#">Move Widget</a>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div gridstack class="grid-stack grid1 w.status" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
                    <div gridstack-item ng-repeat="w in widgets" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
                         gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                            <div class="grid-stack-item-content">
                                <p class="dimensions">{{w.width.toFixed(4)}} x {{w.height.toFixed(4)}}</p>
                                <p>Prod Ord #: {{w.prod}}</p>
                                <p>Order #: {{w.order}}</p>
                                <p>Order Date #: {{w.date}}</p>
                                <p>Cust ID: {{w.custId}}</p>
                                <p>Cust: {{w.cust}}</p>
                                <a class="btn btn-primary" ng-click="removeWidget(w)" href="#">remove</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/gridstack/dist/gridstack.js"></script>
    <script src="../src/gridstack.controller.js"></script>
    <script src="../src/gridstack.directive.js"></script>
    <script src="../src/gridstackitem.directive.js"></script>

    <script type="text/javascript">
        var app = angular.module('GridStack', ['gridstack-angular']).
          controller('DemoCtrl', function($scope, $log) {

            $scope.widgets = [{ id: 1, x:0, y:0, width:10, height:1, status: 'Allocated', cust: 'Acme Mining Co', custId: 100031, date: '03/31/2019', order: 1000168, prod: 123456789 },
                            { id: 2, x:0, y:1, width:10, height:1, status: 'Allocated', cust: 'Acme Mining Co', custId: 100031, date: '03/31/2019', order: 1000168, prod: 123456789  }];

            $scope.options = {
                width: 84,
                cellHeight: 200,
                verticalMargin: 10
            };

            $scope.addWidget = function() {
                var newWidget = { id: 3, x:0, y:0, width:10, height:1, status: 'Allocated', cust: 'Acme Mining Co', date: '03/31/2019', order: 123456789, prod: 123456789  };
                //$('.grid-stack').locked(newWidget, true);
                $scope.widgets.push(newWidget);
            };

            $scope.removeWidget = function(w) {
                var index = $scope.widgets.indexOf(w);
                $scope.widgets.splice(index, 1);
            };

            $scope.onChange = function(event, items) {
                $log.log("onChange event: "+event+" items:"+items);
            };

            $scope.onDragStart = function(event, ui) {
                $log.log("onDragStart event: "+event+" ui:"+ui);
            };

            $scope.onDragStop = function(event, ui) {
                $log.log("onDragStop event: "+event+" ui:"+ui);
            };

            $scope.onResizeStart = function(event, ui) {
                $log.log("onResizeStart event: "+event+" ui:"+ui);
            };

            $scope.onResizeStop = function(event, ui) {
                $log.log("onResizeStop event: "+event+" ui:"+ui);
            };

            $scope.onItemAdded = function(item) {
                $log.log("onItemAdded item: "+item);

                // Figure out how to lock the created item
                $(".grid-stack").each(function (idx, gsEl) { $(gsEl).data("gridstack").locked(".grid-stack-item", true);});
            };

            $scope.onItemRemoved = function(item) {
                $log.log("onItemRemoved item: "+item);
            };

        });
    </script>

</body>
</html>